@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Shippori+Antique&display=swap');

.fit {
    max-height: 10em;
    max-width: 10em;
}

.body {
    background-color:#88bbe2;
    
}

.logo {
display: flex;
justify-content: center;


}
.logo__image {
    width: 100%;
    padding: 2;
    
}
.header { 
        display: flex;
        justify-content: space-evenly;
        border: 5px solid #772b4f;
        background-color: #f2f2f2;
        border-radius: 25px; 
}

.header__1 {
        padding: 10px; 
        border: 2px solid #52ab98;
        background-color: #c8d8e4;
        border-radius: 25px; 
        margin: 1em;
        font-family: 'Fira Sans', sans-serif;
        font-style: italic;
}
.image-container {
    width: 100%;
    padding: 2;
}

img{
    width: 100%;
}
.country_image {
    width: 100%;
    height: auto;
    /* display: flex;
    justify-content: center;   */
}

.country_title {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.content__cards {
  
    padding: 1em;
    background-color: #f2f2f2;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 25px;
}

.content__homePage{
    border: 5px solid #2b6777;
    border-radius: 25px; 
    padding: 1em;
    flex-basis: 90%;
    background-color: #f2f2f2;
    text-align: center;



}
.foot {
    display: flex;
    border: 2px solid #2b6777;
    border-radius: 25px; 
    padding: 1em;
    background-color: #f2f2f2;
}

.foot__content {
    flex-basis: 100%;
}



.content__titlename {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
}